<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <a href="../">back to SharpBoards</a>
    <div class="signup-window">
        <div class="signup-signin-text-space">
            <h1>ProMan</h1>
            <form action="{{ url_for('signup') }}" method="post">
                <input type="text" class="text-signup" name="username" id="username" maxlength="255" placeholder="Username" required>
                <input type="password" class="text-signup" name="password" maxlength="255" placeholder="Password" required>
                <input type="password" class="text-signup" name="confirm_password" maxlength="255" placeholder="Confirm password" required>
                <button type="submit" name="register" class="button-signup">Sign up</button>
                <a class="text-for-already-signed-up" href="/login">Already signed up?</a>
            </form>
        </div>
    </div>
</body>
</html>