<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<a href="../">back to SharpBoards</a>
    <div class="signup-window">
        <input type="text" class="text-signup" id="username" maxlength="255" placeholder="Username">
        <input type="password" class="text-signup" id="password" maxlength="255" placeholder="Password">
        <input type="password" class="text-signup" id="confirm_password" maxlength="255" placeholder="Confirm password">


    </div>
</body>
</html>